* {

				outline: none;

			}

			@font-face {

				font-family: silkscreen;
				src: url(font/silkscreen.ttf);

			}

			h1, h2 {

				display: block;

				width: 50%;

				font-family: silkscreen;
				text-align: center;

				background: #b3dbd1;
				border-radius: 50px;

			}

			/* brainfuck stuff */

			#bfcontainer {

				display: block;
				position: relative;

				padding: 15px;

				background: #d2efed;
				border-radius: 30px;

			}

			#bfcode {

				resize: vertical;

				display: block;
				position: relative;

				padding: 5px;

				width: 90%;
				height: 50px;
				
				min-height: 50px;

				white-space: pre-wrap;       /* css-3 */
 				white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 				white-space: -pre-wrap;      /* Opera 4-6 */
 				white-space: -o-pre-wrap;    /* Opera 7 */
 				word-wrap: break-word;       /* Internet Explorer 5.5+ */

				background: #ffffff;

				border: solid 1px #91c9c9;
				border-radius: 1px;


			}

			#bfinput {

				resize: vertical;

				display: block;
				position: relative;

				padding: 5px;

				width: 90%;
				height: 30px;

				min-height: 30px;

				white-space: pre-wrap;       /* css-3 */
 				white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 				white-space: -pre-wrap;      /* Opera 4-6 */
 				white-space: -o-pre-wrap;    /* Opera 7 */
 				word-wrap: break-word;       /* Internet Explorer 5.5+ */

 				background: #ffffff;

				border: solid 1px #91c9c9;
				border-radius: 1px;

			}

			#bfoutput {

				display: block;
				position: relative;

				padding: 5px;

				width: 90%;

				white-space: pre-wrap;       /* css-3 */
 				white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 				white-space: -pre-wrap;      /* Opera 4-6 */
 				white-space: -o-pre-wrap;    /* Opera 7 */
 				word-wrap: break-word;       /* Internet Explorer 5.5+ */

 				background: #ffffff;

				border: solid 1px #91c9c9;
				border-radius: 1px;

			}

			#bfstart {

				display: block;
				position: relative;

				font-family: silkscreen;

				font-size: 30px;

				margin: 0 auto;

				width: 60%;
				height: 60px;

				background: #92dbd1;

				border: solid 1px #69ad9d;
				border-radius: 2px;

			}

			#bfstart:active {

				top: 3px;

				background: #fff;

			}